/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #37003c;
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f7003c;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d7003c;
    cursor: pointer;
}